body{
    font:12px/1.6 Tahoma,Arial,Hiragino Sans GB,宋体;color:#4d4d4d
}
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{
    margin:0;padding:0
}
a,a:hover,a:visited{
    text-decoration:none
}
.util-left{
    float:left
}
.fm-label-extra,.util-right{
    float:right
}
.title{
    display:none
}
select.icbu-language-swicth{
    border:1px solid #c4c6cf
}
select.icbu-language-swicth:focus{
    border:1px solid #5584ff
}
.login-login-links{
    margin:20px 0 0;font-size:14px;line-height:32px;border-top:1px solid #ccc;padding-top:20px
}
.login-login-links #thirdpart-login{
    display:inline-block;vertical-align:top;margin-left:5px
}
.login-login-links #thirdpart-login a{
    margin-right:15px;width:32px;height:32px
}
.fm-field{
    padding:2px 0 8px
}
.fm-label{
    padding:8px 0 2px
}.fm-text,.fm-textarea{
    float:left;padding:4px 6px;border:1px solid #ccc;line-height:17px;color:#595959;vertical-align:middle;box-shadow:0 1px 0 #ececec inset
}
.fm-button{
    display:inline-block;height:30px;border:1px solid #e87b0e;font-size:14px;font-weight:700;text-align:center;color:#fff;font-family:Microsoft YaHei,Hiragino Sans GB,\5b8b\4f53;box-shadow:0 1px 1px #ebe7e6
}.fm-button.fm-submit{
    background:#FF7519;border-color:#FF7519;border-radius:3px
}
.is-checkcode-show #login-content .about-checkcode{
    display:block
}
#login-form .about-checkcode,#login-form .title{
    display:none
}
#login-form,.qrcode-login{
    position:relative;font:400 12px arial;width:360px
}
#login-content label,#login-title{
    font-weight:700
}
#login-content .fm-text{
    width:100%
}
#login-content .fm-field-wrap{
    padding-right:14px;overflow:hidden
}
.style-type-auto{
    width:100%
}
.style-type-auto #fm-login-submit{
    width:100%;margin-top:10px
}
#login-title{
    font-size:16px;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:10px
}
#login-other{
    overflow:hidden;margin-top:10px
}
#login-other .register{
    float:right
}
#login-other .register a{
    color:#08C
}
.lang-ar_SA .fm-label,.lang-ar_SA .fm-text{
    direction:rtl
}
.fm-keep-login{
    margin-right:3px;color:#666;font-weight:400
}
#login-other,.login-login-links{
    display:inline-block;width:100%
}
#login-wrap .hd{
    position:relative;height:20px
}
#login-wrap .hd h2{
    width:48px;
    height:48px;position:absolute;right:0
}
#login-wrap .hd .quick,#login-wrap .hd .static{
    text-indent:-99999px
}
.icbu-ali-logo a img{
   background-size:contain;
   text-indent:-9999px;
   display:block;
   float:left;
   width:190px;
   height:35px
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){
    .icbu-ali-logo a img{
        background-size:contain}
}#login-wrap.login-quick .hd .quick,#login-wrap.login-static .hd .static,.login-quick #login-form,.login-static .qrcode-login{
    display:none
}@media(min-width:1232px){
    #content{margin:0 auto!important}
}#login-form{
    font-size:12px
}#content{
    margin-left:16px;margin-right:16px;max-width:1200px
}#has-login-user{
    padding:0 0 23px;width:250px;margin:10px 55px 0
}#has-login-user .user-name{
    display:block;line-height:20px;font-weight:700;color:#f60
}#has-login-list{
    margin:24px 0
}#has-login-field .fm-submit{
    width:250px
}#accountName{
    display:inline;width:220px;word-wrap:break-word
}#advisory{
    display:inline-block;margin:-40px 0 20px 20px;
}.fm-radio{
    vertical-align:middle;margin-right:8px;
}#login-extra{
    margin-top:10px;
}a:link{
    color:#08c;
}